.nav {
  grid-area: n;
  background-color: #379683;
  padding: 15px;
}
.item {
  padding-top: 3%;
  padding-left: 5%;
  color: aliceblue;
  font-size: larger;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.item:hover {
  color: chartreuse;
  cursor: pointer;
}

.item a {
  color: aqua;
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.item a:hover {
  color: cadetblue;
}

.item a.activeLink {
  color: black;
  text-decoration: underline;
}
